.main-content {
    display: flex;
    background-Color: #def6e8;

    h1 {
        color: #052868;
        margin: 2rem;
    }
}

.control-container {
    display: flex;
    justify-Content: space-around;
    width: 80vw;
    margin: 0.5em;
}

.graph-container {
    display: flex;
    margin-Top: 5rem;

    .graph-content {
        width: 50vw;
        height: 40vh;
        display: flex;
        justify-Content: center;
        align-Items: center;
    }
    .image-item{
        width: 48vw;
        height: 45vh;
    }

}