.header {
    background-color: #57D974;
    width: 100%;
    float: left;

}

.header img {
    float: right;
}

.navbar {
    float: left;
    width: 20%;
}

.mainSetting {
    float: left;
    width: 80%;
}

.child {
    float: left;
    width: 100%;
}

.settingImage {
    float: left;
    width: 35%;
}

.nhietdo {
    float: left;
    width: 100%;
}

.amdat {
    float: left;
    width: 100%;
}

.khongkhi {
    float: left;
    width: 100%;
}

.setvalue {
    float: left;
    width: 40%;
}

.min {
    float: left;
    width: 30%;
}

.max {
    float: left;
    width: 30%;
}

.final {
    float: left;
    width: 100%;
}

.reset {
    float: left;
    width: 40%;
}

.update {
    float: left;
    width: 40%;
}