.container__box{
    background-color: white;
    width: 16rem;
    border-radius: 10px;
    .content__container{
        display: flex;
        
        .image__container{
            height: 7rem;
            border-radius: 5px;
        }
    }
    .update__content{
        text-align: center;
        margin-inline-start: 1em;

    }

}